.fl{
  
    &-row{
      display:flex;
      flex-direction:row;
      
      &-wrap{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
      }
    }
  
    &-column{
      display:flex;
      flex-direction:column;
      
      &-wrap{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
      }
      
    }
    
    //START
    &-start-start{
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-start-end{
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-start-center{
      justify-content: flex-start;
      align-items: center;
    }

    &-start-baseline{
      justify-content: flex-start;
      align-items: baseline;
    }

    //END
    &-end-start{
      justify-content: flex-end;
      align-items: flex-start;
    }

    &-end-end{
      justify-content: flex-end;
      align-items: flex-end;
    }

    &-end-center{
      justify-content: flex-end;
      align-items: center;
    }

    &-end-baseline{
      justify-content: flex-end;
      align-items: baseline;
    }

    //CENTER
    &-center-start{
      justify-content: center;
      align-items: flex-start;
    }

    &-center-end{
      justify-content: center;
      align-items: flex-end;
    }

    &-center-center{
      justify-content: center;
      align-items: center;
    }

    &-center-baseline{
      justify-content: center;
      align-items: baseline;
    }

    //SPACE-AROUND
    &-space-around-start{
      justify-content: space-around;
      align-items: flex-start;
    }

    &-space-around-end{
      justify-content: space-around;
      align-items: flex-end;
    }

    &-space-around-center{
      justify-content: space-around;
      align-items: center;
    }

    &-space-around-baseline{
      justify-content: space-around;
      align-items: baseline;
    }

    //SPACE-BETWEEN
    &-space-between-start{
      justify-content: space-between;
      align-items: flex-start;
    }

    &-space-between-end{
      justify-content: space-between;
      align-items: flex-end;
    }

    &-space-between-center{
      justify-content: space-between;
      align-items: center;
    }

    &-space-between-baseline{
      justify-content: space-between;
      align-items: baseline;
    }

    //SELF-ALIGNMENT 
    &-self{
      
      &-start{
        align-self: flex-start;
      }

      &-end{
        align-self: flex-end;
      }

      &-center{
        align-self: center;
      }

      &-start{
        align-self: baseline;
      }
    }

    //BETWEEN-ROWS IF flex-wrap USED
    &-among{
      
      &-start{
        align-content:flex-start;
      }
  
      &-end{
        align-content:flex-end;
      }
  
      &-space-between{
        align-content:space-between;
      }
  
      &-space-around{
        align-content:space-around;
      }
  
      &-center{
        align-content:center;
      }
    }
  }